#selector{
  width: 100%;
  height:50px; 
  text-align:center; 
  padding-top:25px;
}

#graph{
  width: 100%; height: 600px;
}

#voltage{
  width: 370px; height: 250px; float: left;
}

#current{
  width: 370px; height: 250px; float: right;
}
